* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.4;
}

a {
  color: #333333;
  text-decoration: none;
}

.todo-items {
  margin-bottom: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 20px;
}

button,
input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.delete-button {
  padding: 0.1rem 0.5rem;
  float: right;
}

.form-control {
  margin-right: 10px;
}
